/*  header
---------------------------- */
// #grpheader #grpheaderIn {
//   width:950px;
//   height:130px;
//   margin:0px auto;
//   position:relative;
//   background:none;
// }
// #grpheader #grpheaderIn h1 {
//   /* display:none; */
// }
// #grpheader #grpheaderIn #siteID {
//   position:relative;
// }
// #grpheader #grpheaderIn #siteID .serviceLogo {
//   position:absolute;
//   top:20px;
//   left:7px;
// }
// #grpheader #grpheaderIn #siteID .serviceTitle {
//   position:absolute;
//   top:26px;
//   left:109px;
// }
// #grpheader #grpheaderIn #siteID .serviceTitle a{
//   color:#bf0000;
//   font-weight:bold;
//   font-size:166%;
// }
//
// #grpheader #grpheaderIn #siteID .serviceTitle a:hover{
//   text-decoration:none;
// }
// #g03 #grpheader #grpheaderIn {
//   width:950px;
//   height:58px;
//   margin:0px auto;
//   position:relative;
//   background:none;
// }
// #g03 #grpheader #grpheaderIn #siteID .serviceLogo {
//   position:absolute;
//   top:0px;
//   left:0px;
// }
// #g03 #grpheader #grpheaderIn #siteID .serviceTitle {
//   position:absolute;
//   top:13px;
//   left:108px;
// }

/*!
Rakuten Common Header
Version: 0.1.4
 */
/*
 * Skin
 * The custom styles go here.
 */
/* Contents Width */
#grpheader .rc-h-inner {
  width: 1280px;
  box-sizing: border-box;
}

/* Minimum Contents Width */
// #grpheader, #grpheader.rc-h-liquid .rc-h-noscript-bar,
// #grpheader.rc-h-liquid .rc-h-utility-bar,
// #grpheader.rc-h-liquid .rc-h-service-bar {
//   min-width: 1280px;
// }

/* Base Text Style */
#grpheader {
  font-size: 75%;
  line-height: 1.6;
}

/* Base Font Color */
#grpheader, #grpheader a:link,
#grpheader a:visited,
#grpheader a:hover,
#grpheader a:active {
  color: #515151;
}

/* Skin Font Color */
// #grpheader .rc-h-action-nav .rc-h-action-btn {
//   color: #999;
// }

/* Skin Border Color */
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action {
//   border-color: #bf0000;
// }
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-lo-action {
//   background: url('/common02/img/rc-h-icon-logout.png') 7px center no-repeat;
//   padding-left: 28px;
// }

/* Skin Background Color */
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action,
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn {
//   background-color: #bf0000;
// }

/* Skin Highlight Background Color */
#grpheader .rc-h-genre-dropdown:hover > a,
#grpheader .rc-h-genre-dropdown.rc-h-hover > a {
  background-color: #003bb3;
}

/* Action Button Color */
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-marketspeed-action {
//   background-color: #01154d;
// }
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-ispeed-action {
//   background-color: #000000;
// }


/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
// .rc-h-icon-browse {
//   background-image: url(../../img/rc-h-sprites.png);
//   background-position: 0px -22px;
//   width: 18px;
//   height: 18px;
// }
//
// .rc-h-icon-cart-white {
//   background-image: url(../../img/rc-h-sprites.png);
//   background-position: 0px 0px;
//   width: 20px;
//   height: 20px;
// }
//
// .rc-h-icon-cart {
//   background-image: url(../../img/rc-h-sprites.png);
//   background-position: -22px 0px;
//   width: 20px;
//   height: 20px;
// }
//
// .rc-h-icon-favorite {
//   background-image: url(../../img/rc-h-sprites.png);
//   background-position: -20px -22px;
//   width: 18px;
//   height: 18px;
// }
//
// .rc-h-icon-purchase {
//   background-image: url(../../img/rc-h-sprites.png);
//   background-position: -44px 0px;
//   width: 18px;
//   height: 18px;
// }

/* Dropdown Module */
#grpheader .rc-h-dropdown {
  position: relative;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 1px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 15;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 2px 0 #cecece;
          box-shadow: 1px 1px 2px 0 #cecece;
  display: none;
  top: 100%;
  left: 0;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li {
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li > a,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li > span {
  display: block;
  position: relative;
  padding: 4px 14px 4px 10px;
  cursor: pointer;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li:hover > a,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li:hover > span,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-hover > a,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-hover > span,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-active > a,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-active > span,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li a.rc-h-active,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li span.rc-h-active {
  background: #f6f6f6;
  color: #000000;
  text-decoration: none;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > a,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > span {
  padding-right: 28px;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > a:after,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > span:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-color: transparent transparent transparent #686868;
  margin-top: -4px;
  vertical-align: middle;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > .rc-h-dropdown-panel {
  display: none;
  top: 0;
  left: 100%;
  margin-left: -5px;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > a:after,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > span:after,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > a:after,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > span:after {
  border-left-color: #f2ab00;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > .rc-h-dropdown-panel,
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > .rc-h-dropdown-panel {
  display: block;
}
#grpheader .rc-h-dropdown:hover .rc-h-dropdown-panel,
#grpheader .rc-h-dropdown.rc-h-hover .rc-h-dropdown-panel {
  display: block;
}

/* Combobox Module */
#grpheader .rc-h-combobox-module {
  position: relative;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-label {
  position: relative;
  padding: 0 22px 0 8px;
  background: #ffffff;
  line-height: 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-label:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: #686868 transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 1px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 1;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 2px 0 #cecece;
          box-shadow: 1px 1px 2px 0 #cecece;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  min-width: 100%;
  max-height: 280px;
  top: 100%;
  left: 0;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li {
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li > a,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li > span {
  display: block;
  position: relative;
  padding: 4px 14px 4px 10px;
  cursor: pointer;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li:hover > a,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li:hover > span,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-hover > a,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-hover > span,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-active > a,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-active > span,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li a.rc-h-active,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li span.rc-h-active {
  background: #f6f6f6;
  color: #000000;
  text-decoration: none;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > a,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > span {
  padding-right: 28px;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > a:after,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > span:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-color: transparent transparent transparent #686868;
  margin-top: -4px;
  vertical-align: middle;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > .rc-h-dropdown-panel {
  display: none;
  top: 0;
  left: 100%;
  margin-left: -5px;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > a:after,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > span:after,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > a:after,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > span:after {
  border-left-color: #f2ab00;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > .rc-h-dropdown-panel,
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > .rc-h-dropdown-panel {
  display: block;
}
* + html #grpheader .rc-h-combobox-module .rc-h-combobox-panel {
  margin-top: -4px;
}
#grpheader .rc-h-combobox-module:hover .rc-h-combobox-label:after {
  border-top-color: #f2ab00;
}
#grpheader .rc-h-combobox-module.rc-h-active .rc-h-combobox-panel {
  display: block;
}

/* Main */
#grpheader {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, MS-PGothic, sans-serif;
}
#grpheader input,
#grpheader button,
#grpheader select {
  font-family: inherit;
}
#grpheader a {
  text-decoration: none;
}
#grpheader a img {
  border: none;
}
#grpheader a:hover {
  text-decoration: underline;
}
#grpheader li {
  list-style: none;
}
#grpheader .rc-h-inner {
  margin: 0 auto;
  padding: 0 104px;
}
#grpheader.rc-h-liquid .rc-h-noscript-bar,
#grpheader.rc-h-liquid .rc-h-utility-bar,
#grpheader.rc-h-liquid .rc-h-service-bar {
  padding-left: 10px;
  padding-right: 10px;
}
#grpheader.rc-h-liquid .rc-h-inner {
  width: auto;
}
#grpheader .rc-h-noscript-bar {
  padding: 3px 0 2px;
  border-top: 2px solid #d8b6b6;
  border-bottom: 2px solid #d8b6b6;
  background: #faeaea;
  color: #b03434;
}
#grpheader .rc-h-noscript-bar p {
  margin: 0;
  padding: 0;
  text-align: center;
}
#grpheader .rc-h-noscript-bar a:link,
#grpheader .rc-h-noscript-bar a:visited,
#grpheader .rc-h-noscript-bar a:hover,
#grpheader .rc-h-noscript-bar a:active {
  color: #bf0000;
}
#grpheader .rc-h-utility-bar {
  position: relative;
  z-index: 2;
  background: #f9f9f9;
}
#grpheader .rc-h-group-nav {
  float: right;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-group-nav li {
  position: relative;
  float: left;
  text-align: left;
}
#grpheader .rc-h-group-nav li a {
  display: block;
  padding: 3px 10px;
}
#grpheader .rc-h-group-nav li a:hover {
  text-decoration: none;
}
#grpheader .rc-h-group-nav li:hover,
#grpheader .rc-h-group-nav li.rc-h-hover {
  background: #f0f0f0;
}
#grpheader .rc-h-group-dropdown > a:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: #686868 transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-group-dropdown .rc-h-dropdown-panel {
  left: auto;
  right: 0;
}
#grpheader .rc-h-group-dropdown:hover > a:after,
#grpheader .rc-h-group-dropdown.rc-h-hover > a:after {
  border-top-color: #333333;
}
#grpheader .rc-h-service-bar {
  background: #ffffff;
}
#grpheader.simpleHeader01 .rc-h-service-bar {
	padding-top: 10px;
}
#grpheader .rc-h-service-bar img {
  vertical-align: top;
  width: 209px;
  height: 32px;
}
#grpheader .rc-h-site-id {
  float: left;
  margin: 16px 0 24px;
}
#grpheader .rc-h-logo,
#grpheader .rc-h-title,
#grpheader .rc-h-icon {
  display: inline-block;
  vertical-align: middle;
}
* + html #grpheader .rc-h-logo, * + html
#grpheader .rc-h-title, * + html
#grpheader .rc-h-icon {
  display: inline;
  zoom: 1;
}
// #grpheader .rc-h-logo {
//   margin-right: 11px;
// }
#grpheader .rc-h-title a:hover {
  text-decoration: none;
}
#grpheader .rc-h-title a span {
  font-size: 20px;
  color: #bf0000;
  font-weight: bold;
}
#grpheader .rc-h-site-menu {
  float: right;
  // margin-top: 9px;
  margin: 21px 0;
}
#grpheader .rc-h-menu-btns {
  position: relative;
  text-align: right;
}
// #grpheader .rc-h-help-nav {
//   margin: 0;
//   padding: 0;
//   text-align: right;
// }
// #grpheader .rc-h-help-nav a:link,
// #grpheader .rc-h-help-nav a:visited,
// #grpheader .rc-h-help-nav a:hover,
// #grpheader .rc-h-help-nav a:active {
//   color: #0033cc;
// }
// #grpheader .rc-h-help-nav li {
//   display: inline;
//   margin-left: 15px;
// }
#grpheader .rc-h-action-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
// * + html #grpheader .rc-h-action-nav {
//   display: inline;
//   zoom: 1;
// }
// * + html #grpheader .rc-h-action-nav {
//   margin-left: 4px;
// }
#grpheader .rc-h-action-nav li {
    display: inline-block;
    // padding-left: 5px;
    margin-right: 24px;
}
// * + html #grpheader .rc-h-action-nav li {
//   display: inline;
//   zoom: 1;
// }
// * + html #grpheader .rc-h-action-nav li {
//   margin-left: 4px;
// }
#grpheader .rc-h-search-area {
  display: inline-block;
  // padding-left: 5px;
  vertical-align: bottom;
}
// * + html #grpheader .rc-h-search-area {
//   display: inline;
//   zoom: 1;
// }
// * + html #grpheader .rc-h-search-area {
//   margin-left: 4px;
// }
#grpheader .rc-h-search-area .rc-h-search-txt {
  font-size: 117%;
  width: 123px;
  height: 28px;
  padding: 0 0 0 10px;
  border: 1px solid #069;
  border-right: none;
}
#grpheader .rc-h-search-area .rc-h-search-btn {
  overflow: hidden;
  width: 40px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-indent: 100%;
  border: none;
  background: #069 url('/shared/img/ico_search_01.png') 50% 50% no-repeat;
}
#grpheader .rc-h-search-area .rc-h-search-btn:active {
  position: relative;
}
#grpheader .rc-h-search-area .rc-h-search-btn:hover {
  background-color: #3385ad;
}
#grpheader .rc-h-search-area .rc-h-search-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
#grpheader .rc-h-action-nav .rc-h-btn-icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
* + html #grpheader .rc-h-action-nav .rc-h-btn-icon {
  display: inline;
  zoom: 1;
}
// #grpheader .rc-h-action-nav .rc-h-btn-label {
//   display: inline-block;
//   vertical-align: middle;
// }
// * + html #grpheader .rc-h-action-nav .rc-h-btn-label {
//   display: inline;
//   zoom: 1;
// }
// #grpheader .rc-h-action-nav .rc-h-action-btn {
//   font-size: 117%;
//   display: inline-block;
//   padding: 3px 11px 2px;
//   cursor: pointer;
//   border-width: 1px;
//   border-style: solid;
//   border-color: #ccc;
// }
// * + html #grpheader .rc-h-action-nav .rc-h-action-btn {
//   display: inline;
//   zoom: 1;
// }
// #grpheader .rc-h-action-nav .rc-h-action-btn:hover .rc-h-btn-label {
//   text-decoration: underline;
// }
// #grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action {
//   font-weight: bold;
//   color: #ffffff;
// }
#grpheader .rc-h-action-nav .rc-h-btn-group {
  display: inline-block;
  margin: 0;
  padding: 3px 3px 3px 7px;
  border: 1px solid #cccccc;
}
* + html #grpheader .rc-h-action-nav .rc-h-btn-group {
  display: inline;
  zoom: 1;
}
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn {
//   padding: 0 4px;
//   border: none;
// }
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:link,
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:visited,
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:hover,
// #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:active {
//   color: white;
// }
#grpheader .rc-h-promotion {
  float: left;
  margin-top: 4px;
  padding-left: 10px;
  vertical-align: bottom;
}
#grpheader .rc-h-genre-dropdown {
  float: left;
  margin-right: 15px;
  z-index: 2;
}
#grpheader .rc-h-genre-dropdown > a {
  display: block;
  padding: 0 13px;
  line-height: 44px;
  font-weight: bold;
}
#grpheader .rc-h-genre-dropdown > a:link,
#grpheader .rc-h-genre-dropdown > a:visited,
#grpheader .rc-h-genre-dropdown > a:hover,
#grpheader .rc-h-genre-dropdown > a:active {
  color: white;
}
#grpheader .rc-h-genre-dropdown > a:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: white transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-genre-dropdown:hover > a,
#grpheader .rc-h-genre-dropdown.rc-h-hover > a {
  text-decoration: none;
}
#grpheader .rc-h-gnavi {
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;
    background: #fff;
}
#grpheader .rc-h-gnavi .rc-h-inner {
  display: table;
  position: relative;
}
#grpheader .rc-h-gnavi .rc-h-inner li {
  display: table-cell;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
#grpheader .rc-h-gnavi .rc-h-inner li a {
  position: relative;
  width: 256px;
  padding: 24px 0;
  color: #828282;
  display: block;
}
#grpheader .rc-h-gnavi .rc-h-inner li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #b30000;
    transition: width .2s ease-out;
}
#grpheader .rc-h-gnavi .rc-h-inner li:hover a::after {
    width: 100%;
}
#grpheader .rc-h-gnavi .rc-h-inner li:first-child a {
    width: auto;
    margin-left: 8px;
}
#grpheader .rc-h-gnavi .rc-h-inner li:first-child a::after {
    display: none;
}
#grpheader .rc-h-gnavi .rc-h-inner li.current a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #b30000;
    transition: width .2s ease-out;
}
#grpheader .rc-h-gnavi .rc-h-inner li a:hover {
  // background: #3385ad;
  text-decoration: none;
}
#grpheader .rc-h-fixed-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.2);
}
#grpheader .rc-h-fixed-bar .rc-h-inner {
  position: relative;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-logo {
  float: left;
  line-height: 1;
  margin: 12px 0 7px;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-logo img {
  width: 209px;
  height: auto;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-action-nav {
  float: right;
  margin: 12px 0 11px;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi {
  float: left;
  width: 100%;
  border: 0;
  background: #fff;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner {
  width: 100%;
  padding: 0;
}
// #grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li {
//   font-size: 108%;
// }
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li:first-child {
  display: none;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li a {
  color: #828282;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li a:hover,
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li.current a {

}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-action-nav .rc-h-action-btn {
  font-size: 100%;
  padding: 3px 3px 2px;
}

.rc-h-clearfix:before,
#grpheader .rc-h-utility-bar:before,
#grpheader .rc-h-service-bar:before,
#grpheader .rc-h-fixed-bar > .rc-h-inner:before,
.rc-h-clearfix:after,
#grpheader .rc-h-utility-bar:after,
#grpheader .rc-h-service-bar:after,
#grpheader .rc-h-fixed-bar > .rc-h-inner:after {
  content: " ";
  display: table;
}
.rc-h-clearfix:after,
#grpheader .rc-h-utility-bar:after,
#grpheader .rc-h-service-bar:after,
#grpheader .rc-h-fixed-bar > .rc-h-inner:after {
  clear: both;
}

/* MegaDropdown Module */
#grpheader .gnaviDropBox {
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 900;
  width: 100%;
  // box-sizing: border-box;
  border-radius: 4px;
  border: 1px #828282 solid;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  padding: 20px 50px 26px;
  margin-top: -1px;
  display: none;
  box-sizing: border-box;
}
#grpheader .gnaviDropBox_arrow {
    left: 8.125%;
    width: 83.75%;
}
#grpheader .gnaviDropBox_arrow:before {
  content: "";
  position: absolute;
  top: -19px;
  left: 10px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-top: 10px solid transparent;
  z-index: 1;
}
#grpheader .gnaviDropBox_arrow:after {
  content: "";
  position: absolute;
  top: -21px;
  left: 10px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #828282;
  border-top: 10px solid transparent;
}
#grpheader .gnaviDropBox .gnaviDropBoxHdg {
  position: relative;
  color: #006598;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#grpheader .gnaviDropBox .gnaviDropBoxHdg:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 180px;
  width: 24px;
  height: 27px;
  background: url(/shared/img/header/ico_list_01.png) no-repeat center center;
}
#grpheader .gnaviDropBox .dropPrdBox {/*å•†å“æ”¹å®š20180915è¿½åŠ */
  width: 270px;
  float: left;
  font-size: 13px;
  margin-left: 19px;
}
#grpheader .gnaviDropBox .dropPrdBox:first-child {
  margin-left: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg {
  line-height: 1.2;
  margin: 0;
}

#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a {/*å•†å“æ”¹å®š20180915è¿½åŠ */
  display: block;
  font-size: 16px;
  padding: 2px 4px 0 16px;
  font-weight: bold;
  border-radius: 30px;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 33px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a:hover {
  opacity: 0.6;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a:before {
  content: "";
  position: absolute;
  top: 31.57%;
  left: 10px;/*å•†å“æ”¹å®š20180915è¿½åŠ */
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst {/*å•†å“æ”¹å®š20180915è¿½åŠ */
  padding-left: 10px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li {
  display: block;
  text-align: left;
  margin-top: 10px;
  padding-left: 15px;
  position: relative;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li:first-child {
  margin-top: 15px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li:before {
  content: "";
  position: absolute;
  top: 2px;/*å•†å“æ”¹å®š20180915è¿½åŠ */
  left: 0;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li a {
  display: inline-block;
  padding: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst p {
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst .floatTxt {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst .dropPrdLnk {
  margin-bottom: 1px;
}
#grpheader .gnaviDropBox .dropPrdBox li .dropPrdLnk a {
  color: #1b457e;
  text-decoration: underline;
  position: relative;
  background: #fff;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLnk a:hover {
  background: #fff;
  text-decoration: none;
}
#grpheader .gnaviDropBox .empTxt {/*å•†å“æ”¹å®š20180915è¿½åŠ */
  font-size: 16px;
  font-weight: bold;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem {
  position: relative;
  color: #1b457e;
  font-size: 14px;
  text-decoration: underline;
  background: #fff;
  padding: 0;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem:hover {
  background: #fff;
  text-decoration: none;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -12px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 7px solid #1b457e;
}
#grpheader .dropLink:hover .gnaviDropBox {
  display: block;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .dropLink:hover .gnaviDropBox {
  display: none;
}
#grpheader .rc-h-gnavi .rc-h-inner li.dropLink:hover > a {
  background: #fff;
  text-decoration: none;
}

/* for JS */
#logIO.ioDisabled {
  display: none !important;
}
